<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smansara.tugasque">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.intent.action.MULTIPLE_PICK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.DetailLupaActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.AdminActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.GantiActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LupaActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".firebase.FireService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.LengkapiActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.GuruActivity"
            android:showOnLockScreen="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.KepsekActivity"
            android:showOnLockScreen="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.DetailFotoActivity" />
        <activity
            android:name=".activities.DetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.BuatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:showOnLockScreen="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".activities.HomeActivity"
            android:showOnLockScreen="true"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>